body {
    font-family: "Quattrocento Sans", sans-serif;
}

h1 {
	font-family: Montserrat, sans-serif;
	text-align: center;
	background-color: #accca3;
}

h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}

.lado-folha{
	
}
.navbar-brand-palinovic {
    height: 34px;
    margin-top: -6px;
}

.bona-prato-imagem {
    width: 100%;
    border: 6px solid #eee;
}

.row-margin-top {
    margin-top: 30px;
}
}